<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>
<ul>
<li> <%= @task.name %> </li>
<li> <%= @task.description %> </li>
</ul>


<form action="/tasks/<%= @task.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="name" value="<%= @task.name %>">
  <input type="text" name="address" value="<%= @task.description %>">
  <button>Update!</button>
</form>


